

.product {
    width: 250px;
    margin: 3px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product img {
    width: 100%;
    height: auto;
}

.catalogo-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}