
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    gap: 15px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    border-radius: 50%;
}

.user-tweet {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-tweet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-tweet h3, .user-tweet p {
    margin: 0;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.body-tweet {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-tweet img {
    border-radius: 20px;
}

.footer-tweet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}